/*
* Author: Alan Zeng
* Basic CSS file
*/

html,body {
  font-family: Helvetica;

}
#Title {
  color: Navy;

  font-size: 50px;
  font-weight: 100;
  text-align: center;

}
hr {
  width: 50%;
}
.wrapper {
  text-align: center;
  padding: 20px;
}
.container {
  text-align: center;
}
.textfield {
  margin-left: 40px;
}
.myButton {
  background:    #ffffff;
  border:        1px solid #000000;
  border-radius: 5px;
  border-color: grey;
  padding:       8px 20px;
  color:         #3e3eb2;
  display:       inline-block;
  font:          normal 700 14px/1 "Helvetica", sans-serif;
  text-shadow:   1px 1px #ffffff;
  cursor: pointer;
}
.help {
  cursor: pointer;
  font-size: 2em;
}
#onlineButton {
  margin-right: 1em;
  margin-left: 2.1em;
}
#papButton {
  margin-left: 1em;
}
#ngButton:hover {
  border-color: black;

}
#ngButton {
  margin-right: .6em;
}
#jgButton {
  margin-left: .6em;
}
#nameEntry {
  display: none;

}
#nameForm {
  padding-left: 1.8em;
}

#helpDiv {
  display: none;
}
#helpText {
  position: relative;
  margin-top: -1.8em;
  margin-bottom: -0.5em;
}
#players {

}
